.login-main {
    height: calc(100vh - 140px);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.login-background {
    width: 80%; height: 70%;
    position: absolute;
    clip-path: polygon(4% 5%, 100% 0, 98% 100%, 0% 100%);
    z-index: -1;
    background-color: var(--rose_clair);
}
.login-container {
    width: 65%;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.img-1 {
    position: absolute;
    right: -100px;
    bottom: -160px;
}
.img-2 {
    position: absolute;
    right: 0;
    bottom: -180px;
    transform: rotate(-20deg);
}
.img-3 {
    position: absolute;
    right: -200px;
    bottom: -150px;
    transform: rotate(10deg);
}


.login-form-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}
.login-form-container>* {
    width: 100%;
}
.login-form-container nav {
    display: flex;
    justify-content: space-between;
}
.nav-separation {
    height: 40px;
    width: 2px;
    background-color: var(--couleur_texte);
}
.login-form-container button{
    position: relative;

    width: fit-content;
    border: none; 
    background: none; 

    padding: 10px;
    color: var(--couleur_texte_inactif);
    font-weight: 700;
}
.button-inactive:hover {
    color: var(--couleur_texte);
}
.button-active {
    color: var(--couleur_texte) !important;
}
.button-active::after {
    content: "";
    position: absolute;
    width: 100%; height: 2px;
    left: 0%; bottom: 0px;
    background-color: var(--couleur_texte);
    transition: width 0.15s ease-in-out;
}

.login-form .submit-button {
    padding: 15px;
    background-color: var(--jaune);
    font-weight: 800;
    border: none;
}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.login-form div {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}
.login-form .row {
    display: flex;
}
.login-form input {
    width: 100%;
    padding: 10px 0 3px 0;
    border: none;
    border-bottom: solid 2px var(--couleur_texte);
    background-color: transparent;
}
.login-form label {
    position: absolute;
    bottom: 7px; left: 35px;
    z-index: -1;
    transition: all 0.15s ease-in-out;
}
.login-form input:focus {
    outline: none;
}
.login-form input:focus ~ label {
    transform: translateY(-20px);
    font-weight: 300;
}
.login-ddn {
    transform: translateY(-20px) !important;
}

.login-form>div>select {
    width: 100%;
    padding: 6px 0;
    border: solid 2px var(--couleur_texte);
    background-color: transparent;
}
.login-form>div>select:focus {
    outline: none;
    background-color: #f5cbd8;
}
.login-form>div>select>option {
    background-color: #FFF;
}

#toggle-password {
    position: absolute;
    right: 0;
}
.inscription-only {
    display: none !important;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.welcome-text>* {
    color: var(--couleur_texte_inactif);
}
.welcome-text h1 {
    font-size: 6.25rem;
}
